@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <h2>About</h2>
    <ul>
        <li>No sign-up needed.</li>
        <li>We don't store your log messages.</li>
        <li>Built on <a href="http://logging.apache.org/log4net/">log4net</a> and <a href="http://signalr.net/">signalr</a>.</li>
        <li>Free for now, always free for your typical application (to be defined later).</li>
        <li>It's really just that simple.</li>
    </ul>
    <h2>Privacy Statement</h2>
    <p>
        None of your information is ever stored. We do collect web visit analytics
        as well as store our IIS logs.
    </p>
    
    <h2>FAQ</h2>
    
    <h4>How do I log custom properties?</h4>
    <p>
        Log4net supports custom properties, but they are not currently exposed in log4stuff. We are
        looking for ways to do this. Log4net supports <i>sending</i> custom properties with the following
        syntax:
    </p>
    <code>
        GlobalContext.Properties["CustomProperty"] = "PropertyValue";
    </code>
    
    <h4>What is an "ApplicationId"?</h4>
    <p>
        We need a unique way of identifying applications so that your log messages are uniquely identified,
        and there is an easy way of viewing those log messages. Your application ID can be anything you like.
        GUIDs make good application ID's because they're unique, and hard for someone else to guess.
    </p>
</div>