
@{
    ViewBag.Title = "Learn More";
}

<div class="container">
    <h2>Learn More</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Log2Console</td>
                <td>Log4Stuff</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Install Required</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Access Anywhere</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>No Ports to Open</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
        </tbody>
    </table>
</div>