
@{
    ViewBag.Title = "Pricing";
}

<div class="container">
    <h2>Pricing</h2>
    <p>
        log4stuff allows you to pick any price you like. If you have a small hobby application and no money, no problem, don't pay
        a dime.
    </p>
    <p>
        If log4stuff plays a significant role in your application, please consider donating. Donations are what keep this site
        alive. It does take money to run our scalable infrastructure.
    <p class="lead">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AE4PF69Y3PNXJ">One Time Donation</a>
    </p>
</div>
