@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <h2>About</h2>
    <p>
        The easiest way to view real-time log messages from distributed applications.
    </p>
    <h2>Privacy Statement</h2>
    <p>
        None of your information is ever stored. We do collect web visit analytics
        as well as store our IIS logs.
    </p>
</div>