@{
    ViewBag.Title = "Log4Stuff";
}

<div class="container">
    <img src="/Content/log4stuff.png" style="width: 250px; padding-bottom: 20px;" class="img-responsive center-block" />

    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 text-center">
            <img src="/Content/appender-screenshot.jpg"/>
            Add a UDP Appender to log4net or log4j
        </div>
        <div class="col-md-4 text-center">
            <img src="/Content/appender-applicationid.jpg" />
            Add 1 line of code
        </div>
        <div class="col-md-4 text-center">
            <img src="/Content/log-output.jpg" />
            View your logs online, in real time
        </div>
    </div>
    
    <div class="row" style="padding-bottom: 40px;">
        <div class="col-md-4">
            <h3>No sign-up needed</h3>
        </div>
        <div class="col-md-4">
            <h3>We don't store your log messages</h3>
        </div>
        <div class="col-md-4">
            <h3>Built on <a href="http://logging.apache.org/log4net/">log4net</a> and <a href="http://signalr.net/">signalr</a></h3>
        </div>
    </div>
    
    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <p class="lead">
                    Getting started takes seconds. Create an application ID that will identify your application. We've already
                    generated one for you if you want to use it.
                </p>
            <p class="center-block">
                @using (Html.BeginForm("GetTheCode", "Home", FormMethod.Get, new { @class = "form-inline", role="form" }))
                {
                    @Html.TextBox("id", (string)ViewBag.NewGuid, new {@class = "form-control"})
                    <input type="submit" value="Get the Code" class="btn btn-default" />
                }
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>