
@{
    ViewBag.Title = "Real-time Log View";
}

<div class="container-fluid body-content">
    <div id="container" style="font-size: 9pt;" ng-app="logView" ng-controller="LogController">
        <table class="logTable" id="logTable" style="font-size: 8pt; font-family: 'consolas'; ">
            <thead>
                <tr>
                    <th></th>
                    <th><input ng-model="search.level" placeholder="Level Filter"></th>
                    <th><input ng-model="search.logger" placeholder="Logger Filter"></th>
                    <th><input ng-model="search.thread" placeholder="Thread Filter"></th>
                    <th><input ng-model="search.message" placeholder="Message Filter"></th>
                    <th><input ng-model="search.hostName" placeholder="Host Name Filter"></th>
                </tr>
                <tr>
                    <th>Timestamp</th>
                    <th>Level</th>
                    <th>Logger</th>
                    <th>Thread</th>
                    <th>Message</th>
                    <th>Host Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="log in logMessages | filter:search:'true'">
                    <td>{{ log.timestamp | date:'yyyy-MM-dd h:mm:ss a' }}</td>
                    <td>{{ log.level }}</td>
                    <td>{{ log.logger }}</td>
                    <td>{{ log.thread }}</td>
                    <td title="{{ log.message }}">{{ log.message }}</td>
                    <td>{{ log.hostName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"> </script>
    <script src="~/signalr/hubs"> </script>
    <script>
        window.applicationId = '@ViewBag.ApplicationId';
    </script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <link href="http://code.jquery.com/ui/jquery-ui-git.css" rel="stylesheet" />
    <script src="~/Content/logview.js"> </script>

    
}