
@{
    ViewBag.Title = "Real-time Log View";
}

<div class="container-fluid body-content">
    <div id="container" style="font-size: 9pt;" ng-app="logView" ng-controller="LogController">
        <table class="logTable" id="logTable" style="font-size: 8pt; font-family: 'consolas'; ">
            <thead>
                <tr>
                    <td></td>
                    <td><input ng-model="search.level" placeholder="Level Filter"></td>
                    <td><input ng-model="search.logger" placeholder="Logger Filter"></td>
                    <td><input ng-model="search.thread" placeholder="Thread Filter"></td>
                    <td><input ng-model="search.message" placeholder="Message Filter"></td>
                    <td><input ng-model="search.hostName" placeholder="Host Name Filter"></td>
                </tr>
                <tr>
                    <td>Timestamp</td>
                    <td>Level</td>
                    <td>Logger</td>
                    <td>Thread</td>
                    <td>Message</td>
                    <td>Host Name</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="log in logMessages | filter:search:'true'">
                    <td>{{ log.timestamp | date:'yyyy-MM-dd h:mm:ss a' }}</td>
                    <td>{{ log.level }}</td>
                    <td>{{ log.logger }}</td>
                    <td>{{ log.thread }}</td>
                    <td title="{{ log.message }}">{{ log.message | limitTo:90 }}</td>
                    <td>{{ log.hostName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"> </script>
    <script src="~/signalr/hubs"> </script>
    <script>
        window.applicationId = '@ViewBag.ApplicationId';
    </script>
    <script src="~/Content/logview.js"> </script>

    
}